In [25]:
import pandas as pd

df_1 = pd.read_csv(r"C:\Users\AkruthiSrikanth\Downloads\Youtube-Data-CE - Track_Stats.csv")
df_1.head()

C:\Users\AkruthiSrikanth\AppData\Local\Temp\ipykernel_16348\3244634607.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = pd.read_csv(r"C:\Users\AkruthiSrikanth\Downloads\Youtube-Data-CE - Track_Stats.csv")

,spotify_track_id,spotify_popularity_streams,spotify_timestp,tiktok_track_id,tiktok_posts_count,tiktok_timestp,youtube_track_id,youtube_views,youtube_timestp
0,100491869,0,2023-03-24T00:00:00.000Z,13062145.0,28.0,2023-03-15T00:00:00.000Z,13062145.0,116909.0,2023-03-01T00:00:00.000Z
1,100647015,21,2023-04-15T00:00:00.000Z,13062145.0,28.0,2023-03-20T00:00:00.000Z,13062145.0,116980.0,2023-03-02T00:00:00.000Z
2,100902459,64,2023-07-07T00:00:00.000Z,13062145.0,30.0,2023-04-10T00:00:00.000Z,13062145.0,117036.0,2023-03-03T00:00:00.000Z
3,100902459,64,2023-07-06T00:00:00.000Z,13062145.0,30.0,2023-04-11T00:00:00.000Z,13062145.0,117075.0,2023-03-04T00:00:00.000Z
4,100902459,64,2023-07-05T00:00:00.000Z,13062145.0,30.0,2023-04-25T00:00:00.000Z,13062145.0,117149.0,2023-03-05T00:00:00.000Z

In [26]:
df_2 = pd.read_csv(r"C:\Users\AkruthiSrikanth\Downloads\Youtube-Data-CE - Metadata.csv")
df_2.head()

,Track_Id,Track_Name,Album_Release_Date,Popularity_Rating,Num_Spotify_Playlists,Num_YouTube_Playlists,Spotify_Playlist_Total_Reach,YouTube_Playlist_Total_Reach,Spotify_Popularity,Num_TikTok_Videos,TikTok_Counts,Spotify_Streams,YouTube_Views,Track_Duration
0,11597863,Shake It Off - Instrumental,2015-03-31T00:00:00.000Z,33,8,0,2831,0,7,0,0,0,0,244440
1,11597864,Stay - Instrumental,2015-03-31T00:00:00.000Z,33,375,0,118340,0,35,0,0,1738794,0,256751
2,12619780,We Are Never Ever Getting Back Together - Simo...,2014-02-24T00:00:00.000Z,38,4,0,4655,0,0,0,0,0,0,201066
3,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
4,13062146,Love Story - Digital Dog Radio Mix,2008-09-12T00:00:00.000Z,0,110,0,18143,0,0,0,0,1280442,0,191173

In [27]:
df_2['Track_Id'] = df_2['Track_Id'].astype('object')
df_1['spotify_track_id'] = df_1['spotify_track_id'].astype('object')
df_spotify = pd.DataFrame(df_1[['spotify_track_id','spotify_popularity_streams','spotify_timestp']])

In [28]:
merged_df_spotify = pd.merge(df_spotify, df_2, left_on = "spotify_track_id", right_on = "Track_Id", how="inner")
merged_df_spotify = merged_df_spotify.drop(['spotify_track_id'], axis=1)
merged_df_spotify

,spotify_popularity_streams,spotify_timestp,Track_Id,Track_Name,Album_Release_Date,Popularity_Rating,Num_Spotify_Playlists,Num_YouTube_Playlists,Spotify_Playlist_Total_Reach,YouTube_Playlist_Total_Reach,Spotify_Popularity,Num_TikTok_Videos,TikTok_Counts,Spotify_Streams,YouTube_Views,Track_Duration
0,0,2023-03-24T00:00:00.000Z,100491869,If We Ever Broke Up (goddard. Remix),2023-03-24T00:00:00.000Z,0,328,0,280996,0,0,0,0,378495,0,156342
1,21,2023-04-15T00:00:00.000Z,100647015,If We Ever Broke Up (goddard. Remix),2023-03-24T00:00:00.000Z,0,7,0,301,0,0,0,0,0,0,156342
2,64,2023-07-07T00:00:00.000Z,100902459,If We Ever Broke Up - Sped Up,2023-04-07T00:00:00.000Z,54,677,0,2152175,0,64,163,163,2390688,0,124556
3,64,2023-07-06T00:00:00.000Z,100902459,If We Ever Broke Up - Sped Up,2023-04-07T00:00:00.000Z,54,677,0,2152175,0,64,163,163,2390688,0,124556
4,64,2023-07-05T00:00:00.000Z,100902459,If We Ever Broke Up - Sped Up,2023-04-07T00:00:00.000Z,54,677,0,2152175,0,64,163,163,2390688,0,124556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90856,57,2023-04-14T00:00:00.000Z,99884288,Cupid - Instrumental,2023-02-24T00:00:00.000Z,52,260,0,47146,0,62,2228,2228,4090636,238971,174253
90857,56,2023-04-13T00:00:00.000Z,99884288,Cupid - Instrumental,2023-02-24T00:00:00.000Z,52,260,0,47146,0,62,2228,2228,4090636,238971,174253
90858,55,2023-04-12T00:00:00.000Z,99884288,Cupid - Instrumental,2023-02-24T00:00:00.000Z,52,260,0,47146,0,62,2228,2228,4090636,238971,174253
90859,54,2023-04-11T00:00:00.000Z,99884288,Cupid - Instrumental,2023-02-24T00:00:00.000Z,52,260,0,47146,0,62,2228,2228,4090636,238971,174253
90860,53,2023-04-10T00:00:00.000Z,99884288,Cupid - Instrumental,2023-02-24T00:00:00.000Z,52,260,0,47146,0,62,2228,2228,4090636,238971,174253

In [29]:
df_1['tiktok_track_id'] = df_1['tiktok_track_id'].astype('object')
df_tiktok = pd.DataFrame(df_1[['tiktok_track_id','tiktok_posts_count', 'tiktok_timestp']])

In [30]:
df_tiktok['tiktok_track_id'] = pd.to_numeric(df_tiktok['tiktok_track_id'])

In [31]:
df_tiktok[df_tiktok['tiktok_track_id']==13062145]

   tiktok_track_id  tiktok_posts_count            tiktok_timestp
0       13062145.0                28.0  2023-03-15T00:00:00.000Z
1       13062145.0                28.0  2023-03-20T00:00:00.000Z
2       13062145.0                30.0  2023-04-10T00:00:00.000Z
3       13062145.0                30.0  2023-04-11T00:00:00.000Z
4       13062145.0                30.0  2023-04-25T00:00:00.000Z
5       13062145.0                32.0  2023-05-07T00:00:00.000Z
6       13062145.0                32.0  2023-05-09T00:00:00.000Z
7       13062145.0                33.0  2023-07-07T00:00:00.000Z

In [32]:
merged_df_tiktok = pd.merge(df_tiktok, df_2, left_on = "tiktok_track_id", right_on = "Track_Id", how="inner")
merged_df_tiktok = merged_df_tiktok.drop(['tiktok_track_id'], axis=1)
merged_df_tiktok

,tiktok_posts_count,tiktok_timestp,Track_Id,Track_Name,Album_Release_Date,Popularity_Rating,Num_Spotify_Playlists,Num_YouTube_Playlists,Spotify_Playlist_Total_Reach,YouTube_Playlist_Total_Reach,Spotify_Popularity,Num_TikTok_Videos,TikTok_Counts,Spotify_Streams,YouTube_Views,Track_Duration
0,28.0,2023-03-15T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
1,28.0,2023-03-20T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
2,30.0,2023-04-10T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
3,30.0,2023-04-11T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
4,30.0,2023-04-25T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56836,9449.0,2023-04-18T00:00:00.000Z,12402570,Te Quiero,2011-01-01T00:00:00.000Z,0,2075,0,2646525,0,61,14024,14024,33306216,55895811,278146
56837,9454.0,2023-04-19T00:00:00.000Z,12402570,Te Quiero,2011-01-01T00:00:00.000Z,0,2075,0,2646525,0,61,14024,14024,33306216,55895811,278146
56838,9478.0,2023-04-24T00:00:00.000Z,12402570,Te Quiero,2011-01-01T00:00:00.000Z,0,2075,0,2646525,0,61,14024,14024,33306216,55895811,278146
56839,9484.0,2023-04-25T00:00:00.000Z,12402570,Te Quiero,2011-01-01T00:00:00.000Z,0,2075,0,2646525,0,61,14024,14024,33306216,55895811,278146
56840,9849.0,2023-07-04T00:00:00.000Z,12402570,Te Quiero,2011-01-01T00:00:00.000Z,0,2075,0,2646525,0,61,14024,14024,33306216,55895811,278146

In [33]:
df_1['youtube_track_id'] = df_1['youtube_track_id'].astype('object')
df_youtube = pd.DataFrame(df_1[['youtube_track_id', 'youtube_views', 'youtube_timestp']])

In [34]:
merged_df_youtube = pd.merge(df_youtube, df_2, left_on = "youtube_track_id", right_on = "Track_Id", how="inner")
merged_df_youtube = merged_df_youtube.drop(['youtube_track_id'], axis=1)
merged_df_youtube

,youtube_views,youtube_timestp,Track_Id,Track_Name,Album_Release_Date,Popularity_Rating,Num_Spotify_Playlists,Num_YouTube_Playlists,Spotify_Playlist_Total_Reach,YouTube_Playlist_Total_Reach,Spotify_Popularity,Num_TikTok_Videos,TikTok_Counts,Spotify_Streams,YouTube_Views,Track_Duration
0,116909.0,2023-03-01T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
1,116980.0,2023-03-02T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
2,117036.0,2023-03-03T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
3,117075.0,2023-03-04T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
4,117149.0,2023-03-05T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101369,11777.0,2023-07-06T00:00:00.000Z,66164192,Level (Remastered),2019-08-16T00:00:00.000Z,41,106,0,15258,0,49,0,0,828231,11949,178500
101370,11807.0,2023-07-07T00:00:00.000Z,66164192,Level (Remastered),2019-08-16T00:00:00.000Z,41,106,0,15258,0,49,0,0,828231,11949,178500
101371,11835.0,2023-07-08T00:00:00.000Z,66164192,Level (Remastered),2019-08-16T00:00:00.000Z,41,106,0,15258,0,49,0,0,828231,11949,178500
101372,11856.0,2023-07-09T00:00:00.000Z,66164192,Level (Remastered),2019-08-16T00:00:00.000Z,41,106,0,15258,0,49,0,0,828231,11949,178500
101373,11885.0,2023-07-10T00:00:00.000Z,66164192,Level (Remastered),2019-08-16T00:00:00.000Z,41,106,0,15258,0,49,0,0,828231,11949,178500

In [35]:
df_3 = pd.read_csv(r"C:\Users\AkruthiSrikanth\Downloads\Youtube-Data-CE - Track IDs.csv")
df_3.head()

   artist_id  track_id
0       2762  11597863
1       2762  11597864
2       2762  12619780
3       2762  13062145
4       2762  13062146

In [36]:
merged_df_spotify = pd.merge(merged_df_spotify, df_3, left_on="Track_Id", right_on="track_id", how="inner")

In [37]:
merged_df_spotify = merged_df_spotify.drop(['track_id'], axis=1)
merged_df_spotify.columns.tolist()

['spotify_popularity_streams',
 'spotify_timestp',
 'Track_Id',
 'Track_Name',
 'Album_Release_Date',
 'Popularity_Rating',
 'Num_Spotify_Playlists',
 'Num_YouTube_Playlists',
 'Spotify_Playlist_Total_Reach',
 'YouTube_Playlist_Total_Reach',
 'Spotify_Popularity',
 'Num_TikTok_Videos',
 'TikTok_Counts',
 'Spotify_Streams',
 'YouTube_Views',
 'Track_Duration',
 'artist_id']

In [38]:
merged_df_tiktok = pd.merge(merged_df_tiktok, df_3, left_on="Track_Id", right_on="track_id", how="inner")

In [39]:
merged_df_tiktok = merged_df_tiktok.drop(['track_id'], axis=1)
merged_df_tiktok.columns.tolist()

['tiktok_posts_count',
 'tiktok_timestp',
 'Track_Id',
 'Track_Name',
 'Album_Release_Date',
 'Popularity_Rating',
 'Num_Spotify_Playlists',
 'Num_YouTube_Playlists',
 'Spotify_Playlist_Total_Reach',
 'YouTube_Playlist_Total_Reach',
 'Spotify_Popularity',
 'Num_TikTok_Videos',
 'TikTok_Counts',
 'Spotify_Streams',
 'YouTube_Views',
 'Track_Duration',
 'artist_id']

In [40]:
merged_df_youtube = pd.merge(merged_df_youtube, df_3, left_on="Track_Id", right_on="track_id", how="inner")

In [41]:
merged_df_youtube = merged_df_youtube.drop(['track_id'], axis=1)
merged_df_youtube.columns.tolist()

['youtube_views',
 'youtube_timestp',
 'Track_Id',
 'Track_Name',
 'Album_Release_Date',
 'Popularity_Rating',
 'Num_Spotify_Playlists',
 'Num_YouTube_Playlists',
 'Spotify_Playlist_Total_Reach',
 'YouTube_Playlist_Total_Reach',
 'Spotify_Popularity',
 'Num_TikTok_Videos',
 'TikTok_Counts',
 'Spotify_Streams',
 'YouTube_Views',
 'Track_Duration',
 'artist_id']

In [42]:
merged_df_spotify = merged_df_spotify.drop_duplicates()

In [43]:
merged_df_tiktok = merged_df_tiktok.drop_duplicates()

In [44]:
merged_df_youtube = merged_df_youtube.drop_duplicates()

In [45]:
merged_df_spotify = merged_df_spotify.drop(['spotify_popularity_streams'], axis=1)
merged_df_spotify.rename(columns={'spotify_timestp':'Timestamp'}, inplace=True)

merged_df_tiktok = merged_df_tiktok.drop(['tiktok_posts_count'], axis=1)
merged_df_tiktok.rename(columns={'tiktok_timestp':'Timestamp'}, inplace=True)

merged_df_youtube = merged_df_youtube.drop(['youtube_views'], axis=1)
merged_df_youtube.rename(columns={'youtube_timestp':'Timestamp'}, inplace=True)

In [46]:
merged_df_tiktok

,Timestamp,Track_Id,Track_Name,Album_Release_Date,Popularity_Rating,Num_Spotify_Playlists,Num_YouTube_Playlists,Spotify_Playlist_Total_Reach,YouTube_Playlist_Total_Reach,Spotify_Popularity,Num_TikTok_Videos,TikTok_Counts,Spotify_Streams,YouTube_Views,Track_Duration,artist_id
0,2023-03-15T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573,2762
1,2023-03-20T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573,2762
2,2023-04-10T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573,2762
3,2023-04-11T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573,2762
4,2023-04-25T00:00:00.000Z,13062145,Love Story - Digital Dog Remix,2008-09-12T00:00:00.000Z,0,2562,0,341554,0,47,33,33,8683048,135133,358573,2762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61333,2023-04-18T00:00:00.000Z,12402570,Te Quiero,2011-01-01T00:00:00.000Z,0,2075,0,2646525,0,61,14024,14024,33306216,55895811,278146,307
61334,2023-04-19T00:00:00.000Z,12402570,Te Quiero,2011-01-01T00:00:00.000Z,0,2075,0,2646525,0,61,14024,14024,33306216,55895811,278146,307
61335,2023-04-24T00:00:00.000Z,12402570,Te Quiero,2011-01-01T00:00:00.000Z,0,2075,0,2646525,0,61,14024,14024,33306216,55895811,278146,307
61336,2023-04-25T00:00:00.000Z,12402570,Te Quiero,2011-01-01T00:00:00.000Z,0,2075,0,2646525,0,61,14024,14024,33306216,55895811,278146,307
61337,2023-07-04T00:00:00.000Z,12402570,Te Quiero,2011-01-01T00:00:00.000Z,0,2075,0,2646525,0,61,14024,14024,33306216,55895811,278146,307

In [47]:
final_df = pd.concat([merged_df_spotify, merged_df_tiktok, merged_df_youtube])
final_df

,Timestamp,Track_Id,Track_Name,Album_Release_Date,Popularity_Rating,Num_Spotify_Playlists,Num_YouTube_Playlists,Spotify_Playlist_Total_Reach,YouTube_Playlist_Total_Reach,Spotify_Popularity,Num_TikTok_Videos,TikTok_Counts,Spotify_Streams,YouTube_Views,Track_Duration,artist_id
0,2023-03-24T00:00:00.000Z,100491869,If We Ever Broke Up (goddard. Remix),2023-03-24T00:00:00.000Z,0,328,0,280996,0,0,0,0,378495,0,156342,9114352
1,2023-04-15T00:00:00.000Z,100647015,If We Ever Broke Up (goddard. Remix),2023-03-24T00:00:00.000Z,0,7,0,301,0,0,0,0,0,0,156342,9114352
2,2023-07-07T00:00:00.000Z,100902459,If We Ever Broke Up - Sped Up,2023-04-07T00:00:00.000Z,54,677,0,2152175,0,64,163,163,2390688,0,124556,9114352
3,2023-07-06T00:00:00.000Z,100902459,If We Ever Broke Up - Sped Up,2023-04-07T00:00:00.000Z,54,677,0,2152175,0,64,163,163,2390688,0,124556,9114352
4,2023-07-05T00:00:00.000Z,100902459,If We Ever Broke Up - Sped Up,2023-04-07T00:00:00.000Z,54,677,0,2152175,0,64,163,163,2390688,0,124556,9114352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110210,2023-07-06T00:00:00.000Z,66164192,Level (Remastered),2019-08-16T00:00:00.000Z,41,106,0,15258,0,49,0,0,828231,11949,178500,3976019
110211,2023-07-07T00:00:00.000Z,66164192,Level (Remastered),2019-08-16T00:00:00.000Z,41,106,0,15258,0,49,0,0,828231,11949,178500,3976019
110212,2023-07-08T00:00:00.000Z,66164192,Level (Remastered),2019-08-16T00:00:00.000Z,41,106,0,15258,0,49,0,0,828231,11949,178500,3976019
110213,2023-07-09T00:00:00.000Z,66164192,Level (Remastered),2019-08-16T00:00:00.000Z,41,106,0,15258,0,49,0,0,828231,11949,178500,3976019
110214,2023-07-10T00:00:00.000Z,66164192,Level (Remastered),2019-08-16T00:00:00.000Z,41,106,0,15258,0,49,0,0,828231,11949,178500,3976019

In [49]:
from datetime import date

def calculate_popularity_index(row, current_date):
    spotify_weight = 0.3
    youtube_weight = 0.4
    tiktok_weight = 0.3

    # Calculate the days difference between the current date and spotify_timestp
    timestamp = pd.to_datetime(row['Timestamp']).tz_localize(current_date.tz)
    days_difference = (current_date - timestamp).days

    decay_factor = 0.9
    time_decay = decay_factor ** days_difference

    # Calculate individual popularity scores for each factor
    if row['Spotify_Playlist_Total_Reach']!=0: 
        spotify_popularity_score = (row['Num_Spotify_Playlists'] / row['Spotify_Playlist_Total_Reach']) * row['Spotify_Streams']
    else:
        spotify_popularity_score = 0.0
    if row['YouTube_Playlist_Total_Reach']!= 0:
        youtube_popularity_score = (row['Num_YouTube_Playlists'] / row['YouTube_Playlist_Total_Reach']) * row['YouTube_Views']
    else:
        youtube_popularity_score = 0.0
    if row['TikTok_Counts']!= 0 :
        tiktok_popularity_score = (row['Num_TikTok_Videos'] / row['TikTok_Counts']) * row['TikTok_Counts']
    else:
        tiktok_popularity_score = 0.0

    # Combine the scores using the specified weights and apply time-based decay
    total_popularity_score = (time_decay * spotify_weight * spotify_popularity_score) + \
                            (time_decay * youtube_weight * youtube_popularity_score) + \
                            (time_decay * tiktok_weight * tiktok_popularity_score)

    return total_popularity_score

# current_date = pd.to_datetime('2023-07-20')
current_date = pd.to_datetime(date.today())

final_df['popularity_index'] = final_df.apply(calculate_popularity_index, args=(current_date,), axis=1)

artist_popularity_index = final_df.groupby('artist_id')['popularity_index'].mean().reset_index()

artist_popularity_index = artist_popularity_index.sort_values(by='popularity_index', ascending=False)

print(artist_popularity_index)

     artist_id  popularity_index
516     469886     691481.122332
110       1377     445929.580577
623    4114519     204911.994919
594    1410939      95489.866738
547     741625      83961.311994
..         ...               ...
219       3632          0.000000
48         217          0.000000
159       2343          0.000000
448     208537          0.000000
405     182016          0.000000

[653 rows x 2 columns]

In [50]:
# def calculate_popularity_index_tiktok(row, current_date):
#     spotify_weight = 0.3
#     youtube_weight = 0.4
#     tiktok_weight = 0.3

#     # Calculate the days difference between the current date and spotify_timestp
#     tiktok_timestamp = pd.to_datetime(row['tiktok_timestp']).tz_localize(current_date.tz)
#     days_difference = (current_date - tiktok_timestamp).days

#     decay_factor = 0.9
#     time_decay = decay_factor ** days_difference

#     # Calculate individual popularity scores for each factor
#     if row['Spotify_Playlist_Total_Reach']!=0: 
#         spotify_popularity_score = (row['Num_Spotify_Playlists'] / row['Spotify_Playlist_Total_Reach']) * row['Spotify_Streams']
#     else:
#         spotify_popularity_score = 0.0
#     if row['YouTube_Playlist_Total_Reach']!= 0:
#         youtube_popularity_score = (row['Num_YouTube_Playlists'] / row['YouTube_Playlist_Total_Reach']) * row['YouTube_Views']
#     else:
#         youtube_popularity_score = 0.0
#     if row['TikTok_Counts']!= 0 :
#         tiktok_popularity_score = (row['Num_TikTok_Videos'] / row['TikTok_Counts']) * row['TikTok_Counts']
#     else:
#         tiktok_popularity_score = 0.0

#     # Combine the scores using the specified weights and apply time-based decay
#     total_popularity_score = (time_decay * spotify_weight * spotify_popularity_score) + \
#                             (time_decay * youtube_weight * youtube_popularity_score) + \
#                             (time_decay * tiktok_weight * tiktok_popularity_score)

#     return total_popularity_score

# merged_df_tiktok['popularity_index'] = merged_df_tiktok.apply(calculate_popularity_index_tiktok, args=(current_date,), axis=1)

# artist_popularity_index_2 = merged_df_tiktok.groupby('artist_id')['popularity_index'].mean().reset_index()

# artist_popularity_index_2 = artist_popularity_index_2.sort_values(by='popularity_index', ascending=False)

# print(artist_popularity_index_2)

In [51]:
# def calculate_popularity_index_youtube(row, current_date):
#     spotify_weight = 0.3
#     youtube_weight = 0.4
#     tiktok_weight = 0.3

#     # Calculate the days difference between the current date and spotify_timestp
#     youtube_timestamp = pd.to_datetime(row['youtube_timestp']).tz_localize(current_date.tz)
#     days_difference = (current_date - youtube_timestamp).days

#     decay_factor = 0.9
#     time_decay = decay_factor ** days_difference

#     # Calculate individual popularity scores for each factor
#     if row['Spotify_Playlist_Total_Reach']!=0: 
#         spotify_popularity_score = (row['Num_Spotify_Playlists'] / row['Spotify_Playlist_Total_Reach']) * row['Spotify_Streams']
#     else:
#         spotify_popularity_score = 0.0
#     if row['YouTube_Playlist_Total_Reach']!= 0:
#         youtube_popularity_score = (row['Num_YouTube_Playlists'] / row['YouTube_Playlist_Total_Reach']) * row['YouTube_Views']
#     else:
#         youtube_popularity_score = 0.0
#     if row['TikTok_Counts']!= 0 :
#         tiktok_popularity_score = (row['Num_TikTok_Videos'] / row['TikTok_Counts']) * row['TikTok_Counts']
#     else:
#         tiktok_popularity_score = 0.0

#     # Combine the scores using the specified weights and apply time-based decay
#     total_popularity_score = (time_decay * spotify_weight * spotify_popularity_score) + \
#                             (time_decay * youtube_weight * youtube_popularity_score) + \
#                             (time_decay * tiktok_weight * tiktok_popularity_score)

#     return total_popularity_score

# merged_df_youtube['popularity_index'] = merged_df_youtube.apply(calculate_popularity_index_youtube, args=(current_date,), axis=1)

# artist_popularity_index_3 = merged_df_youtube.groupby('artist_id')['popularity_index'].mean().reset_index()

# artist_popularity_index_3 = artist_popularity_index_3.sort_values(by='popularity_index', ascending=False)

# print(artist_popularity_index_3)

In [117]:
# artist_popularity_index_1['Platform'] = 'Spotify'
# artist_popularity_index_2['Platform'] = 'TikTok'
# artist_popularity_index_3['Platform'] = 'YouTube'

In [52]:
# artist_final_df = pd.concat([artist_popularity_index_1, artist_popularity_index_2, artist_popularity_index_3])
# artist_final_df

In [55]:
with pd.ExcelWriter("C:/Users/AkruthiSrikanth/Downloads/Popularity_Index_Results.xlsx") as file:
#     merged_df_spotify.to_excel(file, sheet_name = 'Spotify', index=False)
#     merged_df_tiktok.to_excel(file, sheet_name = 'TikTok', index=False)
#     merged_df_youtube.to_excel(file, sheet_name = 'YouTube', index=False)
    final_df.to_excel(file, sheet_name = 'Combined', index=False)
    artist_popularity_index.to_excel(file, sheet_name = 'New Artist_Popularity', index=False)